.language-picker {
    grid-area: languagepicker;
    width: fit-content;
}

.topbar[topbar-type="burger-button"] .language-picker {
    display: none;
}

.language-picker__list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-normal);
    margin: 0;
    padding: 0;
}


.language-picker__link {
    text-decoration: none;
    line-height: 1;
}
