.main-nav[main-nav-type="drawer"] {
    position: fixed;
    height: calc(100dvh - var(--topbar-height));
    width: calc(100dvw - var(--spacing-l));
    max-width: 420px;
    top: var(--topbar-height);
    background-color: var(--color-primary);
    padding: var(--spacing-l) var(--spacing-normal);
    display: none;
    align-items: flex-start;
    justify-content: center;

    .topbar[topbar-type="logo-actions-burger"] & {
        right: 0;
    }

    .topbar[topbar-type="burger-logo-actions"] & {
        left: 0;
    }

    .topbar[open-nav] & {
        display: flex;
    }

    .main-nav__chevron .icon {
        --icon-size: var(--font-size-xxxl);

        background-color: var(--color-bg);
    }

    .main-nav__link:is(:hover, :focus-visible) {
        color: var(--color-primary-dark) !important;
    }
}
