.main-nav[main-nav-type="dropdown"] {
    .main-nav__list[data-nav-list-level="3"] {
        display: none;
        grid-template-columns: 1fr;
        gap: var(--spacing-s);
        grid-column: 1 / -1;
        margin: 0;
        padding: var(--spacing-s) 0 var(--spacing-normal) var(--spacing-normal);
        width: 100%;
        background-color: var(--color-bg);
    }

    .topbar[topbar-type="vertical"] & .main-nav__list[data-nav-list-level="3"] {
        padding: var(--spacing-s) 0 0 var(--spacing-normal);
    }

    .main-nav__list-item[data-nav-item-level="2"][data-is-open] > .main-nav__list[data-nav-list-level="3"] {
        display: grid;
    }
}
