.main-nav {
    grid-area: mainnav;
}

.topbar[topbar-type="single-line"] .main-nav {
    justify-self: flex-end;
}

.topbar[topbar-type="logo-on-top"] .main-nav {
    justify-self: center;
    width: fit-content;
}

.topbar[topbar-type="extra-actions-bar"] .main-nav {
    padding: var(--spacing-l);
    justify-self: flex-end;
}

.topbar[topbar-type="vertical"] .main-nav {
    align-self: flex-start;
}

.main-nav__list {
    list-style: none;
}

.main-nav__chevron {
    border: none;
    background-color: transparent;
    height: var(--spacing-normal);
    width: var(--spacing-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: rotate var(--animation-duration-fast) ease-in-out;
}

.main-nav__list-item[data-is-open] > .main-nav__chevron {
    rotate: -180deg;
}

.main-nav__chevron .icon {
    background-color: var(--color-primary);
}
