.main-nav[main-nav-type="panel"] {
    .main-nav__list[data-nav-list-level="2"] {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: var(--spacing-xl);
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        margin: 0;
        background-color: var(--color-bg);
        padding: var(--spacing-l);
        border-top: 1px solid var(--color-primary);
        box-shadow: var(--shadow-s);
    }

    .main-nav__list-item[data-nav-item-level="1"][data-is-open] > .main-nav__list[data-nav-list-level="2"] {
        display: grid;
    }

    .main-nav__list-item[data-nav-item-level="2"] > .main-nav__chevron {
        display: none;
    }

    .main-nav__list-item[data-nav-item-level="2"] > .main-nav__link {
        font-size: var(--font-size-ms);
        font-weight: var(--font-weight-text-bold);
        color: var(--color-secondary);
    }

    .main-nav__list-item[data-nav-item-level="2"] > .main-nav__link:is(:hover, :focus-visible) {
        color: var(--color-secondary-dark);
    }
}
