.proto-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--spacing-l);
}

.proto-list:not(:last-child) {
    margin-bottom: var(--spacing-xl);
}

.proto-list__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.proto-list__image {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 1;
    border: 1px solid var(--color-primary);
    object-fit: cover;
    object-position: top;
    border-radius: var(--border-radius-normal);
}

.proto-list__link[data-item-type="topbar-with-bottom-actions-bar"] .proto-list__image {
    object-position: bottom;
}

.proto-list__link:is(:hover, :focus-visible) .proto-list__image {
    border: 1px solid var(--color-primary-dark);
}

.proto-list__link:is(:hover, :focus-visible) .proto-list__text {
    color: var(--color-primary-dark);
}
