.scenarios-item {
    --scenarios-item-button-size: 2rem;
    --scenarios-item-button-icon-size: 1.25rem;

    display: flex;
    height: fit-content;
    width: 100%;
    container-name: scenarios-item-item;
    container-type: inline-size;
}

.scenarios-item__link {
    border: 1px solid var(--color-font-light);
    padding: var(--spacing-normal);
    text-decoration: none;
    width: 100%;
    border-radius: var(--border-radius-l);
    position: relative;
}

.scenarios-item__link:is(:hover, :focus-visible) {
    border: 1px solid var(--color-primary);
}

.scenarios-item__id {
    margin: 0 0 var(--spacing-s);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-text-bold);
    text-transform: uppercase;
    color: var(--color-font-light);
    padding-right: calc(var(--scenarios-item-button-size) + var(--spacing-s));
}

.scenarios-item__title {
    margin: 0;
    font-size: var(--font-size-ms);
}

.scenarios-item__link:is(:hover, :focus-visible) .scenarios-item__title {
    color: var(--color-primary-dark);
}

.scenarios-item__chips-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-s);
}

.scenarios-item__chips-list:has(+ .scenarios-item__chips-list) {
    margin-block: var(--spacing-l) 0;
}

.scenarios-item__chips-list + .scenarios-item__chips-list {
    margin-block: var(--spacing-s) 0;
}

.scenarios-item__chips-list-label {
    font-weight: var(--font-weight-text-bold);
    color: var(--color-font-light);
    font-size: var(--font-size-s);
}

.scenarios-item__button {
    border: 1px solid var(--color-font-light);
    height: var(--scenarios-item-button-size);
    width: var(--scenarios-item-button-size);
    border-radius: var(--border-radius-circle);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    pointer-events: none;
    position: absolute;
    top: var(--spacing-s);
    right: var(--spacing-s);
}

.scenarios-item__link:is(:hover, :focus-visible) .scenarios-item__button {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
}

.scenarios-item__button .icon {
    --icon-size: var(--scenarios-item-button-icon-size);
}

.scenarios-item__link:is(:hover, :focus-visible) .scenarios-item__button .icon {
    --icon-color: var(--color-bg);
}

@container scenarios-item-item (width < 420px) {
    .scenarios-item__chips-list-label {
        flex-basis: 100%;
    }
}

@media screen and (width >= 640px) {
    .scenarios-item {
        --scenarios-item-column-count: 2;
    }
}
