.scenarios-list {
    --scenarios-list-column-count: 1;

    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(var(--scenarios-list-column-count), 1fr);
    grid-gap: var(--spacing-normal);
}

@media screen and (width >= 640px) {
    .scenarios-list {
        --scenarios-list-column-count: 2;
    }
}
