<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "Prototype" }}</title>

    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

    <script type="application/json" id="navigation-types-data">{{ navigationTypes | dump | safe }}</script>
    <script src="{{ '/js/scripts.js' | url }}" type="module" defer></script>
</head>
<body>

{% include "partials/topbar.njk" %}
{% include "partials/main.njk" %}

</body>
</html>
