---
layout: layouts/default.njk
title: Topbar and Nav Types Prototypes
topbarType: single-line
navigationType: dropdown
---

{% include "partials/infos.njk" %}
{% include "partials/scenarios-list.njk" %}

{% include "partials/options-panel.njk" %}
