---
layout: layouts/tests.njk
pagination:
    data: testScenarios
    size: 1
    alias: scenario
permalink: "/test-pages/{{ scenario.id }}/"
eleventyComputed:
    title: "{{ scenario.title }}"
    breakpoint: "{{ scenario.breakpoint }}"
    mobileTopbarType: "{{ scenario.mobile.topbarType }}"
    mobileNavigationType: "{{ scenario.mobile.navigationType }}"
    desktopTopbarType: "{{ scenario.desktop.topbarType }}"
    desktopNavigationType: "{{ scenario.desktop.navigationType }}"
---

<h1>{{ scenario.title }}</h1>
<p>{{ scenario.description }}</p>

<h2>Uses</h2>
<p>{{ scenario.uses }}</p>

<p><strong>Examples:</strong></p>
<ul>
    {% for use in scenario.goodFor %}
        <li>{{ use }}</li>
    {% endfor %}
</ul>

<h3>Limitations</h3>

<ul>
    {% for limitation in scenario.limitations %}
        <li>{{ limitation }}</li>
    {% endfor %}
</ul>


<h2>Configuration</h2>
<p>Breakpoint: <strong>{{ scenario.breakpoint }}px</strong></p>

{% include "partials/config-grid.njk" %}

<breakpoint-controller breakpoint="{{ scenario.breakpoint }}"></breakpoint-controller>
