---
layout: layout.njk
title: Test A
permalink: /test-a/
widget:
  variant: compact
  state: active
  heading: Compact widget
  description: This is the compact variant of the widget.
  action: save
  buttonLabel: Save
---
<pre>{{ widget | dump }}</pre>
{% include "partials/widget.njk" %}
