---
layout: layout.njk
title: Test B
permalink: /test-b/
widget:
  variant: expanded
  state: inactive
  heading: Expanded widget
  description: This is the expanded variant, same markup, different data.
  action: delete
  buttonLabel: Delete
---
{% include "partials/widget.njk" %}
