---
layout: layout.njk
title: Topbar with bottom actions bar
permalink: /topbar-with-bottom-actions-bar/
topbarType: bottom-actions-bar
---

{% include "partials/proto-list.njk" %}
{% include "partials/dummy-content.njk" %}
