<div class="config-grid">
    <div class="config-grid__grid">
        <div class="config-grid__row config-grid__header">
            <span class="config-grid__header-item"></span>
            <span class="config-grid__header-item">Topbar type</span>
            <span class="config-grid__header-item">Nav type</span>
        </div>

        <div class="config-grid__row">
            <span class="config-grid__row-title">Mobile</span>
            <span class="config-grid__row-item">{{ scenario.mobile.topbarType }}</span>
            <span class="config-grid__row-item">{{ scenario.mobile.navigationType }}</span>
        </div>

        <div class="config-grid__row">
            <span class="config-grid__row-title">Desktop</span>
            <span class="config-grid__row-item">{{ scenario.desktop.topbarType }}</span>
            <span class="config-grid__row-item">{{ scenario.desktop.navigationType }}</span>
        </div>
    </div>
</div>
