<p class="current-breakpoint">Currently rendering the
    <span class="current-breakpoint__name current-breakpoint__name--mobile">mobile</span>
    <span class="current-breakpoint__name current-breakpoint__name--desktop">desktop</span>
    breakpoint
</p>
