<nav class="language-picker" aria-label="Sprachauswahl">
    <ul class="language-picker__list">
        <li class="language-picker__item">
            <a href="#" class="language-picker__link" lang="de" hreflang="de-DE" aria-label="Deutsch" aria-current="true">
                <span class="language-picker__iso-code">DE</span>
            </a>
        </li>
        <li class="language-picker__item">
            <a href="#" class="language-picker__link" lang="en" hreflang="en-US" aria-label="English">
                <span class="language-picker__iso-code">EN</span>
            </a>
        </li>
    </ul>
</nav>
