<nav id="mainNavigation" class="main-nav" aria-label="Main navigation">
    <ul class="main-nav__list" data-nav-list-level="1">
        <li class="main-nav__list-item" page-uid="500" data-nav-item-level="1" page-designation="">
            <a page-uid="500" class="main-nav__link main-nav__link--500-page-uid" href="#">
                <span class="main-nav__text" id="label_500">Flexibilität</span>
            </a>
        </li>
        <li class="main-nav__list-item" page-uid="501" data-nav-item-level="1" page-designation="">
            <a page-uid="501" class="main-nav__link main-nav__link--501-page-uid" href="#">
                <span class="main-nav__text" id="label_501">Barrierefreiheit</span>
            </a>
        </li>
        <li class="main-nav__list-item" page-uid="502" data-nav-item-level="1" page-designation="">
            <a page-uid="502" class="main-nav__link main-nav__link--502-page-uid" href="#">
                <span class="main-nav__text" id="label_502">Performance</span>
            </a>
        </li>
    </ul>
</nav>
