<main class="main">
    {% if page.url != "/" %}
        {% include "partials/back-button.njk" %}
        {% include "partials/current-breakpoint.njk" %}
    {% endif %}

    {{ content | safe }}
</main>
