<h4>Other topbar types</h4>
<ul class="proto-list">
    {% for item in pages %}
        {% if item.url != page.url %}
            <li><a href="{{ item.url | url }}">{{ item.label }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
