<h2>Test Scenarios</h2>

<ul class="scenarios-list">
    {% for scenario in testScenarios %}
        <li class="scenarios-list__item">
            <a class="scenarios-list__link" href="{{ ('/test-pages/' + scenario.id + '/') | url }}">
                <p class="scenarios-list__id">{{ scenario.id }}</p>
                <h3 class="scenarios-list__title">{{ scenario.title }}</h3>
                <p class="scenarios-list__description">{{ scenario.description }}</p>

                <div class="scenarios-list__grid">
                    <div class="scenarios-list__row scenarios-list__header">
                        <span class="scenarios-list__header-item"></span>
                        <span class="scenarios-list__header-item">Topbar type</span>
                        <span class="scenarios-list__header-item">Nav type</span>
                    </div>

                    <div class="scenarios-list__row">
                        <span class="scenarios-list__row-title">Mobile</span>
                        <span class="scenarios-list__row-item">{{ scenario.mobile.topbarType }}</span>
                        <span class="scenarios-list__row-item">{{ scenario.mobile.navigationType }}</span>
                    </div>

                    <div class="scenarios-list__row">
                        <span class="scenarios-list__row-title">Desktop</span>
                        <span class="scenarios-list__row-item">{{ scenario.desktop.topbarType }}</span>
                        <span class="scenarios-list__row-item">{{ scenario.desktop.navigationType }}</span>
                    </div>
                </div>

                <span class="scenarios-list__button" aria-hidden="true">
                    <toujou-icon icon-name="arrow-top-right" icon-color="font-light" icon-size="m" class="icon"></toujou-icon>
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
