<li class="scenarios-item">
    <a class="scenarios-item__link" href="{{ ('/test-pages/' + scenario.id + '/') | url }}">
        <p class="scenarios-item__id">{{ scenario.id }}</p>
        <h3 class="scenarios-item__title">{{ scenario.title }}</h3>

        {% include "partials/config-grid.njk" %}
    </a>
</li>
