<nav class="service-nav" aria-label="Service navigation">
    <a page-designation="" class="service-nav__link" href="#">
        Kontakt
    </a>
    <a page-designation="" class="service-nav__link" href="#">
        Impressum
    </a>
    <a page-designation="" class="service-nav__link" href="#">
        Datenschutz
    </a>
    <a page-designation="" class="service-nav__link" href="#">
        Barrierefreiheitserklärung
    </a>
</nav>
