<toujou-topbar
        id="topbar"
        class="topbar"
        role="region"
        aria-label="topbar"
        logo-size="medium"
        topbar-type="{{ topbarType or scenario.mobile.topbarType }}"
        {% if scenario %}
            data-breakpoint-attribute="topbar-type"
            data-breakpoint-mobile-value="{{ scenario.mobile.topbarType }}"
            data-breakpoint-desktop-value="{{ scenario.desktop.topbarType }}"
        {% endif %}
>
    {% include "partials/topbar-logo.njk" %}
    {% include "partials/topbar-actions.njk" %}
    {% include "partials/burger-button.njk" %}
    {% include "partials/language-picker.njk" %}
    {% include "partials/main-nav.njk" %}
    {% include "partials/service-nav.njk" %}
</toujou-topbar>
