<nav aria-label="Topbar Logo" style="display: contents;">
    <a aria-label="Zur Startseite" show-title-on-mobile="false" class="topbar__logo-link" href="/">
        <span class="topbar__title">Meet Kojo</span>
        <img class="topbar__logo" title="Meet Kojo" src="{{ '/assets/images/logo.svg' | url }}" alt="Logo">
    </a>
</nav>
