<ul class="topbar__actions" aria-label="Aktionen">
    <li class="topbar__actions-item">
        <a href="#" class="topbar__actions-link" aria-label="Search" role="button" tabindex="0">
            <span class="topbar__actions-text">Search</span>
            <toujou-icon icon-name="search" icon-color="font" icon-size="xl" class="icon"></toujou-icon>
        </a>
    </li>
    <li class="topbar__actions-item">
        <a href="#" class="topbar__actions-link" aria-label="Contact" role="button" tabindex="0">
            <span class="topbar__actions-text">Contact</span>
            <toujou-icon icon-name="email" icon-color="font" icon-size="xl" class="icon"></toujou-icon>
        </a>
    </li>
</ul>
