<toujou-topbar
    id="topbar"
    class="topbar"
    role="region"
    aria-label="topbar"
    logo-size="medium"
    topbar-type="{{ topbarType }}"
>
    {% include "partials/topbar-logo.njk" %}
    {% include "partials/topbar-actions.njk" %}
    {% include "partials/burger-button.njk" %}
    {% include "partials/language-picker.njk" %}
    {% include "partials/main-nav.njk" %}
    {% include "partials/service-nav.njk" %}
</toujou-topbar>
