<div class="widget" data-variant="{{ widget.variant }}" data-state="{{ widget.state }}">
    <h2>{{ widget.heading }}</h2>
    <p>{{ widget.description }}</p>
    <button type="button" data-action="{{ widget.action }}">{{ widget.buttonLabel }}</button>
</div>
